.search-div {
    margin: 10px 0px;
    padding: 10px 0px;
}

input[type="text"] {
    width: 240px;
    height: 30px;
    border: none;
    padding: 0 10px;
}

.changeBackground {
    background-color: #FAD7A0;
}

.search-container {
    span {
        margin-right: 10px;
    }
}